events {
    worker_connections 1024;
}

http {
    upstream fastcgi_backend {
        server php:9000;
    }

    server {
        listen 0.0.0.0:80;
        server_name magento-test.com;

        set $MAGE_ROOT "/var/www/html";
        set $MAGE_MODE "developer";

        include /var/www/html/nginx.conf.sample;
        fastcgi_read_timeout 3000;
    }
}
